$bg-color:#2979FF;//主题颜色
$bg-f5f5f5:#F5F5F5;//背景色
$bg-fff:#fff;//默认白色
$bg-font:#2E4A78;//字体颜色
//状态色
$bg-yellow:#FEBF07;
$bg-blue:#616EFF;
$bg-green:#00C3B3;
$bg-black:#181B31;
$bg-red:#EB5454;
$bg-line:#D4D8E1;


